/* thematic color variables */
.bota-light {
  --front:rgb(37,38,34);
  --strong:rgb(148,67,13);
  --mellow:rgb(200,172,134);
  --back: rgb(241,244,227);
}
.bota-dark {    
  --front: rgb(241,244,227);
  --strong:rgb(148,67,13);
  --mellow:rgb(200,172,134);
  --back:rgb(37,38,34);
}
.bota-strong {
  --front:rgb(37,38,34);
  --strong:rgb(200,172,134);
  --mellow: rgb(241,244,227);
  --back:rgb(148,67,13);
}
/* general rules, setting theme */
* {
  font-family: 'Josefin Sans', sans-serif;
  /* font-weight: 300; */
  /* font-size: medium; */
  background-color: var(--back);
  color: var(--front);
  text-decoration: none;
  list-style-type: none;
}

h1 {
  font-weight: 500;
  font-size: large;
}

h2 {
  font-weight: 300;
  font-size: large;
}

h3 {
  font-weight: 500;
  font-size: medium;
}

h4 {
  font-weight: 300;
  font-size: medium;
}

h5 {
  font-weight: 300;
  font-size: small;
}


/* styling by section */
.botalogo {
  width: 50%;
  height: auto;
  background-color: transparent;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
}

.botadot {
  width: 20%;
  margin-right: 10%;
  margin-top: 20px;
}

/* links */
.navmenu {
  position: fixed;
  right: 5%;
  z-index: 11;
  text-align: right;
  margin-top: 88px;
  margin-right: 5%;
  margin-left: 5%;
  background-color: transparent;
  opacity: .8;
}

.link {
  color: var(--strong);
  font-weight: 500;
  font-size: xx-large;
  margin: 1px;
  padding: 25px;
  opacity: 1;
}

/* admin */
.adminupop {
  width: 100%;  
  align-content: center;
  align-items: center;
  text-align: center;
}

.adminuItem {
  background-color: var(--mellow);
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10%;
  margin-left: 10%
}

.adminuTitle {
  background-color: inherit;
  font-size: large;
  font-weight: 500;
}

.adminuSmalltext {
  background-color: inherit;
  font-weight: 300;
}

.adminuMeta {
  font-size: small;
  font-weight: 300;
  background-color: inherit;
}

input {
  width: 80%;
  height: 80px;
  background-color: white;
  padding: 11px;
  margin: 5px;
  text-align: left;
  border: none;
  resize: none;
}

.adminuText {
  width: 80%;
  height: 80px;
  background-color: white;
  padding: 11px;
  margin: 5px;
  text-align: left;
  border: none;
  resize: none;
}

.adminuSpace {
  background-color: inherit;
  margin-top: 50px;
  margin-bottom: 50px;
}

.adminubutton {
  color: var(--strong);
  background-color: inherit;
  width: 80%;
  font-weight: 500;
  border: none;
  margin-top:25px;
  margin-bottom: 25px;
  margin-right: 10%;
  margin-left: 10%
}

.adminuHide {
  display: none;
}

.adminuShow {
  display: auto;
}


/* footer styles */
.toes {
position:relative;
bottom: 10px;
left: 50%;
right: 50%;

}

.botadotdot {
  width: 30px;
  margin-top: 30px;
}

/* media queries */
@media screen and (min-width: 1000px) {
  h1 {
    font-weight: 500;
    font-size: xx-large;
  }
  
  h2 {
    font-weight: 300;
    font-size: xx-large;
  }

  .botalogo {
    width: 30%;
    height: auto;
    background-color: transparent;
    margin-left: 5%;
    margin-right: 50%;
    margin-top: 20px;
  }
  
  .botadot {
    width: 10%;
    margin-right: 5%;
    margin-top: 20px;
  }
}

/* Product page style begins  */
@media screen and (max-width: 1450px) {
.product-name2{
  color: var(--front)
  }
}
.product{
  font-family: 'Josefin Sans', sans-serif;
  /* background-color: var(--back); */
  color: var(--front);
  text-decoration: none;
  list-style-type: none;
}
.product-title {
  margin-left: 500px;
  align-content: center;
  text-align: center;
  margin: 50px;
  padding: 100px;
  word-spacing: 10px;
  line-height: 70px;
  font-size: 400px;
  font-weight: 300px;
}

.navbarmain {
  width: 20%;

}
.product-name1 {
  margin: 50px;
  padding: 30px;
  word-spacing: 10px;
  line-height: 70px;
  font-size: 100px;
  margin-right: 30px;
  position: absolute;
  bottom: 8px;
  right: 16px;
  background: transparent;
  color: var(--back);
}
.product-name2 {
  margin: 50px;
  padding: 30px;
  word-spacing: 10px;
  line-height: 70px;
  font-size: 100px;
  margin-right: 30px;
  position: absolute;
  bottom: 8px;
  right: 16px;
  background: transparent;
  color: var(--front);
}
.product-item {
  position: relative;
  text-align: center;
  margin: 20px;
  line-height: 20px;
}
.product-description {
  margin: 50px;
  padding: 30px;
  word-spacing: 10px;
  line-height: 70px;
  font-size: 100px;
  margin-right: 30px;
  /* position: relative; */
  /* bottom: 8px;
  right: 16px; */
  background: transparent;
  color: var(--front);
}
.addtocart{
  margin-left: auto;
  margin-right: auto;

}

/* Contact form styling  */

.contact-item {
  border: 1px solid var(--front);
  box-shadow: 0 0 .25rem var(--front);
  width: 40%;
  text-align: center;
  padding: 10px;
  word-spacing: 10px;
  line-height: 40px;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  
}

.name {
  margin: 10px;
  justify-content: left;
}

.input-box {
  justify-content: right;
}

/* About Page */
.product-header {
  text-align: center;
  margin-top: 50px;
}

.about-logo {
  width: 100px
}

.product-shot {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-float-left {
  float: left;
  font-size: 30px;
  text-align: left;
}

.product-float-right {
  font-size: 15px;
  margin-left: 15px;
  text-align: right;
  font-weight: 400;
  line-height: 1.6;
}
