/* thematic color variables */
.bota-light {
  --front:rgb(37,38,34);
  --strong:rgb(148,67,13);
  --mellow:rgb(200,172,134);
  --back: rgb(241,244,227);
}
.bota-dark {    
  --front: rgb(241,244,227);
  --strong:rgb(148,67,13);
  --mellow:rgb(200,172,134);
  --back:rgb(37,38,34);
}
.bota-strong {
  --front:rgb(37,38,34);
  --strong:rgb(200,172,134);
  --mellow: rgb(241,244,227);
  --back:rgb(148,67,13);
}
/* general rules, setting theme */
* {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  /* font-size: medium; */
  background-color: var(--back);
  color: var(--front);
  text-decoration: none;
  list-style-type: none;
}

h1 {
  font-weight: 500;
  font-size: large;
}

h2 {
  font-weight: 300;
  font-size: large;
}

h3 {
  font-weight: 500;
  font-size: medium;
}

h4 {
  font-weight: 300;
  font-size: medium;
}

h5 {
  font-weight: 300;
  font-size: small;
}


/* styling by section */
.botalogo {
  width: 50%;
  height: auto;
  background-color: transparent;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
}

.botadot {
  width: 20%;
  margin-right: 10%;
  margin-top: 20px;
}

/* links */
.navmenu {
  text-align: right;
  margin-top: 88px;
  margin-right: 5%;
  margin-left: 5%;
  background-color: var(--mellow);
  opacity: .2;
}

.link {
  color: var(--strong);
  margin: 1px;
  padding: 25px;
  opacity: 1;
}

/* media queries */
@media screen and (min-width: 1000px) {
  h1 {
    font-weight: 500;
    font-size: xx-large;
  }
  
  h2 {
    font-weight: 300;
    font-size: xx-large;
  }

  .botalogo {
    width: 30%;
    height: auto;
    background-color: transparent;
    margin-left: 5%;
    margin-right: 50%;
    margin-top: 20px;
  }
  
  .botadot {
    width: 10%;
    margin-right: 5%;
    margin-top: 20px;
  }
}

/* Product page style begins  */
.product{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  background-color: var(--back);
  color: var(--front);
  text-decoration: none;
  list-style-type: none;
}
.product-title {
  margin-left: 500px;
  align-content: center;
  text-align: center;
  margin: 50px;
  padding: 100px;
  word-spacing: 10px;
  line-height: 70px;
  font-size: 400px;
  font-weight: 300px;
}

.navbarmain {
  width: 20%;

}